fastapi
uvicorn[standard]

sqlalchemy

psycopg2-binary

alembic

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

bcrypt==4.0.1
python-multipart

pydantic

pydantic-settings

email-validator

httpx

pytest

pytest-asyncio

faker

openpyxl

reportlab
fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
motor
pymongo
python-dotenv
pydantic-settings